/* Browser Normalisation */

/*

Brand Colours

Blue: #506EB5;
Yellow: #FFC907;
Pink: #F48FA4;
Red: #D62936;
Green: #4CAF7F;

*/

/* Type */

body {
    font-weight: 500;
}
  
  p {
    margin-bottom: 1rem;
    line-height: 1.5;
  }

  h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.3;
  }
  
  h1 {
    margin-top: 0;
    font-size: 2.488rem;
  }
  
  h2 {font-size: 2.074rem;}
  
  h3 {font-size: 1.728rem;}
  
  h4 {font-size: 1.44rem;}
  
  h5 {font-size: 1.2rem;}
  
  small, .text_small {font-size: 0.833rem;}


/* Hover.css (https://ianlunn.github.io/Hover/) under MIT License */
/* Grow Rotate */
.hvr-grow-rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    }
    .hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
    -webkit-transform: scale(1.25) rotate(-5deg);
    transform: scale(1.25) rotate(-5deg);
}

:root {
    --primary: #4CAF7F;
    --secondary: #FFC907;
    --pink: #F48FA4;
    --blue: #506EB5;
    --yellow: #FFC907;
    --red: #D62936;
    --link: #4CAF7F;

    --spacing-s: 1.5rem;
    --spacing: 2.5rem;


    --headerheight-s: 70px;
    --headerheight-l: 100px 
}


::-moz-selection {
    background-color: var(--red);
    color: white;
}
::selection {
    background-color: var(--red);
    color: white;
}


html {
    box-sizing: border-box;
    height: -webkit-fill-available;
    margin: var(--spacing-s);
}

a, a:visited {
    text-decoration: none;
    color: black;
}

a.current-link {
    color: var(--link);
}

*,
::before,
::after {
    box-sizing: inherit;
}


img {
    display: block;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Gopher-Bold;
    src: url(./../fonts/Gopher-Bold.ttf) format("ttf"),
         url(./../fonts/Gopher-Bold.woff) format("woff"),
         url(./../fonts/Gopher-Bold.woff2) format("woff2");
    font-weight: bold;
}

body {
    max-height: calc(100vh - (2*var(--spacing-s)));
    max-height: -webkit-fill-available;
    height: calc(100vh - (2*var(--spacing-s)));
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
}

.pink {
    background-color: var(--pink);
}

.primary {
    background-color: var(--primary);
}

.secondary {
    background-color: var(--secondary);
}

.border {
    border: 2px solid black;
}

.border-right {
    border-right: 2px solid black;
}

.border-notop {
    border-top: 0;
}

.border-noleft {
    border-left: 0;
}

.border-nobottom {
    border-bottom: 0;
}

.border-top {
    border-top: 2px solid black;
}

.marquee--yellow {
    background-color: var(--yellow);
}

@media only screen and (min-width: 992px) {
    
    body {
        max-height: calc(100vh - (2*var(--spacing)));
        height: calc(100vh - (2*var(--spacing)));
    }

    html {
        margin: var(--spacing);
    }

    .border {
        border-width: 4px;
    }

    .border-top {
        border-width: 4px;
    }

    .border-noleft-l {
        border-left: 0;
    }
}

p {
    margin: 0;
    padding: 0;
}

ul, li {
    margin: 0;
    padding: 0;
}

/****** Header ******/

.box {
    display: none;
}

header {
    height: var(--headerheight-s);
    display: flex;
}

.header__block {
    flex: 1 1 150px;
    font-family: 'Gopher-Bold';
    text-transform: uppercase;
    font-size: 1rem;
    padding: var(--spacing-s);
}

#marquee {
    flex: 1 1 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    font-family: 'Gopher-Bold';
    text-align: center;
    color: white;
}

.marquee {
    position: relative;
    overflow: hidden;
}

.marquee > p {
    transform: translateX(100%);
    -webkit-animation: marquee 15s linear infinite;
            animation: marquee 15s linear infinite;
    position: absolute;
    right: 0;
}

@-webkit-keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-300%);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-300%);
    }
}


/****** Nav ******/

nav {
    height: 30px;
    flex-shrink: 0;
    display: flex;
    display: grid;
    place-items: center;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

nav > ul > li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-family: 'Gopher-Bold';
    font-size: 0.7rem;
}

nav > ul > li:first-child {
    margin-left: 0;
}

nav > ul > li:last-child {
    margin-right: 0;
}

.spacer {
    height: 50px;
    flex-shrink: 0;
}

#logo {
    display: none;
    align-items: flex-start;
}

/****** Main ******/

main {
    height: calc(100vh - (2*var(--spacing)) - var(--headerheight-l));
    max-height: calc(100vh - (2*var(--spacing)) - var(--headerheight-l));
    overflow-y: auto;
    overflow-x: hidden;
}

/* iPad, Landscape Mode, and HD Monitors */
@media only screen and (min-width: 992px) {

    .marquee > p {
        -webkit-animation: marquee 25s linear infinite;
                animation: marquee 25s linear infinite;
    }

    @-webkit-keyframes marquee {
        0% {
            transform: translateX(100%);
        }
    
        100% {
            transform: translateX(-400%);
        }
    }
    
    @keyframes marquee {
        0% {
            transform: translateX(100%);
        }
    
        100% {
            transform: translateX(-400%);
        }
    }
    

    body {
        display: grid;
        grid-template: 300px 1fr / 300px 1fr;
        grid-template-areas: "header header"
                             "nav main";
    }
    
    header {
        display: flex;
        grid-area: header;
        height: var(--headerheight-l);
    }

    .header__block {
        flex: 0 0 300px;
        background-color: var(--yellow);
        color: var(--yellow);
    }

    nav {
        grid-area: nav;
        grid-column: 1 / 2;
        width: 300px;
        height: calc(100vh - (2*var(--spacing)) - var(--headerheight-l));
        max-height: calc(100vh - (2*var(--spacing)) - var(--headerheight-l));
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: var(--spacing);
    }

    nav > ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav > ul > li {
        font-size: 2rem;
        margin: 0.5rem 0;
    }

    nav > ul > li:first-child {
        margin-top: 0;
    }

    .spacer {
        display: none;
    }
    
    body {
        display: grid;
        grid-template: var(--headerheight-l) 1fr / 300px 1fr;
        grid-template-areas: "header header"
                             "nav main";
    }
    ;

    .main-container {
        margin: var(--spacing);
    }

    #title {
        width: 300px;
        flex: 0 1 300px;
        font-size: 2rem;
        padding: 0;
    }

    #marquee {
        font-size: 1.5rem;
    }

    #logo {
        margin-top: 10rem;
        display: block;
    }

    #logo img {
        height: 100px;
        width: 100px;
    }

    main {
        grid-area: main;
        grid-row: 2/3;
        grid-column: 2 / 3;
        height: calc(100vh - (2*var(--spacing)) - var(--headerheight-l));
        max-height: calc(100vh - (2*var(--spacing)) - var(--headerheight-l));
    }
}