/**************** Variables ****************/

:root {
    --primary: #4CAF7F;
    --secondary: #FFC907;
    --pink: #F48FA4;
    --blue: #506EB5;
    --yellow: #FFC907;
    --red: #D62936;
    --link: #4CAF7F;

    --spacing: 1.2rem;

    /* Minor Third Scale                                                             */
    /* Number denotes level, u and d denote upward or downward along the type scale. */ 

    --t3d: 0.579rem;
    --t2d: 0.694rem;
    --t1d: 0.833rem;
    --t0: 1rem;
    --t1u: 1.2rem;
    --t2u: 1.44rem;
    --t3u: 1.728rem;
    --t4u: 2.074rem;
    --t5u: 2.488rem;
    --t6u: 2.986rem;
    --t7u: 3.583rem;
}

@media only screen and (min-width: 768px) {
    :root {
        --spacing: 1.728rem;
    }
}

/**************** Type ****************/

body {
    font-weight: 500;
}
  
p {
    margin-bottom: 1rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.3;
}


@font-face {
    font-family: Gopher-Bold;
    src: url(./../fonts/Gopher-Bold.ttf) format("ttf"),
         url(./../fonts/Gopher-Bold.woff) format("woff"),
         url(./../fonts/Gopher-Bold.woff2) format("woff2");
    font-weight: bold;
}

/**************** Globals ****************/

html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

::-moz-selection {
    background-color: var(--red);
    color: white;
}
::selection {
    background-color: var(--red);
    color: white;
}

.border {
    border: 3px solid black;
}

.border-right {
    border-right: 3px solid black;
}

.border-noright-s {
    border-right-width: 0;
}

.border-noleft-s {
    border-left-width: 0;
}

.border-nobottom-s {
    border-bottom-width: 0;
}

.border-top {
    border-top: 3px solid black;
}

.border-notop-s {
    border-top-width: 0;
}

.border-bottom {
    border-bottom: 3px solid black;
}


@media only screen and (min-width: 764px) {
    
    .border {
        border-width: 4px;
    }

    .border-notop-l {
        border-top-width: 0;
    }

    .border-noleft-l {
        border-left-width: 0;
    }

    .border-noright-l {
        border-right-width: 0;
    }
    
    .border-bottom {
        border-bottom: 3px solid black;
    }

    .border-nobottom-l {
        border-bottom-width: 0;
    }
}

p {
    margin: 0;
    padding: 0;
}

ul, li {
    margin: 0;
    padding: 0;
}

a {
    font-family: 'Gopher-Bold';
}

a, a:visited {
    text-decoration: none;
    color: black;
}

a.current-link {
    color: var(--link);
}

img {
    display: block;
    margin: 0;
    padding: 0;
}

.pink {
    background-color: var(--pink);
}

.primary {
    background-color: var(--primary);
}

.secondary {
    background-color: var(--secondary);
}

.yellow-bg {
    background-color: var(--yellow);
}

/**************** Layout ****************/

html {
    height: calc(100vh - (2*var(--spacing)));
    /* height: calc((100vh - var(--vh-offset)) - (2*var(--spacing))); */
    padding: var(--spacing);
}

body {
    height: calc(100vh - (2*var(--spacing)));
    /* height: calc((100vh - var(--vh-offset)) - (2*var(--spacing))); */
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
}

/******** Header ********/

.box {
    display: none;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__block h1 {
    font-family: 'Gopher-Bold';
    text-transform: uppercase;
    font-size: var(--t3u);
    margin: 0;
    color: black;
}

.header__block, #marquee {
    padding: var(--spacing);
    padding-left: var(--spacing);
    padding-right: var(--spacing);
    font-size: var(--t1d);
    color: white;
    font-family: 'Gopher-Bold';
    width: 100%;
}

nav {
    padding: var(--spacing);
}


/****** Nav ******/

nav {
    flex-shrink: 0;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
}

nav > ul > li {
    font-size: var(--t3d);
    padding-right: var(--t3d);
}

nav > ul > li:first-child {
    margin-left: 0;
}

nav > ul > li:last-child {
    margin-right: 0;
}

#logo {
    display: none;
    align-items: flex-start;
}

/****** Main ******/

main {
    overflow-y: auto;
    overflow-x: hidden;
}

@media only screen and (min-width: 375px) {
    .header__block h1 {
        font-size: var(--t4u);
    }

    .header__block h2 {
        font-size: var(--t1);
    }

    nav > ul > li {
        font-size: var(--t2d);
    }
}

@media only screen and (min-width: 768px) {

    /**************** Layout ****************/

    body {
        display: grid;
        grid-template: auto 1fr / 300px 1fr;
        grid-template-areas: "header header"
                             "nav main";
    }
    
    header {
        flex-direction: row;
        grid-area: header;
    }

    .header__block {
        flex: 0 0 300px;
        background: var(--yellow);
    }

    .header__block h1{
        display: none;
    }

    nav {
        grid-area: nav;
        grid-column: 1 / 2;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: var(--spacing);
    }

    nav > ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav > ul > li:first-child {
        margin-top: 0;
        padding-right: 0;
    }
    
    #logo {
        margin-top: 10rem;
        display: block;
    }

    #logo img {
        height: 100px;
        width: 100px;
    }

    main {
        grid-area: main;
        grid-row: 2/3;
        grid-column: 2 / 3;
    }

    /**************** Type ****************/
    #marquee {
        font-size: var(--t1);
    }

    nav > ul > li {
        font-size: var(--t1u);
        margin-bottom: var(--t1u);
    }

    nav > ul > li:last-child {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1600px) {

    .box {
        display: block;
    }

    .quicklink > a {
        font-size: var(--biggest);
    }
}


