.filter__container {
}

.filter {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    
}

.filter > input {
    width: 100%;
    padding: var(--spacing);
    font-size: var(--t3d);
    font-family: Montserrat;
    font-weight: bold;
    font-style: italic;
    outline: none;
    border: none;
    z-index: 1;
}

.filter > textarea:focus, .filter > input:focus {
    outline: none;
}

.filter > ::-webkit-input-placeholder {
    color: black;
    opacity: 1;
}

.filter > ::-moz-placeholder {
    color: black;
    opacity: 1;
}

.filter > :-ms-input-placeholder {
    color: black;
    opacity: 1;
}

.filter > ::-ms-input-placeholder {
    color: black;
    opacity: 1;
}

.filter > ::placeholder {
    color: black;
    opacity: 1;
}

/**************** Student ****************/

.class {
    padding: var(--spacing);
    overflow-y: auto;
}

.class__student {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-bottom: var(--spacing);
}

.class__student > picture, .class__student > picture > img {
    width: 100px;
    height: 100px;
}

.class__student > picture:nth-child(2) {
    position: absolute;
    top: 0;
    -webkit-animation: fadeInAndOut 5s step-start infinite;
            animation: fadeInAndOut 5s step-start infinite;
}

@-webkit-keyframes fadeInAndOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInAndOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.class__student__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: var(--spacing)
}

.class__student__info__name {
    font-family: 'Gopher-Bold';
    font-weight: bold;
    font-size: var(--t0);
    margin-bottom: 0.5rem;
    padding-right: 1rem;
}

.class__student__info__tag {
    font-size: var(--t3d);
    padding-right: 0.4rem;
}

main {
    display: flex;
    flex-direction: column;
}

main > form {
    flex-shrink: 0;
    height: 30px;
}

main > ul {
    flex-grow: 1;
}

main > ul > a {
    font-size: 0.8rem;
}

#class-list .main-container {
    border: 0;
}

@media only screen and (min-width: 375px) {
    .class__student__info__name {
        font-size: var(--t1u);
    }

    .class__student__info__tag {
        font-size: var(--t1d);
    }

    .filter > input {
        font-size: var(--t2d);
    };
}

@media only screen and (min-width: 1200px) {

    .filter {
        width: 100%;
        height: auto;
        display: grid;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .filter > input {
        font-size: var(--t0);

    }

    .class {
        display: grid;
        grid-template-columns: repeat(2, 1fr375);
        grid-gap: var(--spacing);
    }

    .class__student {
        margin-bottom: 0; /* Handled by grid-gap. */
    }

    .class {
        flex-grow: 1;
        overflow-y: auto;
    }

    .class__student > picture, .class__student > picture > img {
        width: 150px;
        height: 150px;
    }

    .class__student__info {
        align-items: left;
        justify-content: center;
        margin-left: 2rem;
    }

    .class__student__info__name {
        padding-right: 0;
    }
    
    .class__student__info__tag {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 992px) {
    
}























