.filter {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
}

.filter > input {
    width: 100%;
    padding: var(--spacing);
    font-size: 0.694rem;
    font-family: Montserrat;
    font-weight: bold;
    font-style: italic;
    outline: none;
    border: none;
}

.filter > textarea:focus, .filter > input:focus {
    outline: none;
}


.filter > ::-webkit-input-placeholder {
    color: black;
    opacity: 1;
}

.filter > ::-moz-placeholder {
    color: black;
    opacity: 1;
}

.filter > :-ms-input-placeholder {
    color: black;
    opacity: 1;
}

.filter > ::-ms-input-placeholder {
    color: black;
    opacity: 1;
}

.filter > ::placeholder {
    color: black;
    opacity: 1;
}

.class {
    padding-top: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
}

.class__student {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-bottom: var(--spacing);
}

.class__student > picture, .class__student > picture > img {
    width: 100px;
    height: 100px;
}

.class__student > picture:nth-child(2) {
    position: absolute;
    top: 0;
    -webkit-animation: fadeInAndOut 5s step-start infinite;
            animation: fadeInAndOut 5s step-start infinite;
}

@-webkit-keyframes fadeInAndOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInAndOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.class__student__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 1.5rem;
    margin-left: 0.5rem;
}

.class__student__info__name {
    font-family: 'Gopher-Bold';
    font-weight: bold;
    font-size:1rem; /* to change to clamp */
    margin-bottom: 0.5rem;
    padding-right: 1rem;
}

.class__student__info__tag {
    font-size: 0.675rem;
    padding-right: 0.4rem;
}

main {
    display: flex;
    flex-direction: column;
}

main > form {
    flex-shrink: 0;
    height: 30px;
}

main > ul {
    flex-grow: 1;
}

main > ul > a {
    font-size: 0.8rem;
}

.main-container {
    margin: var(--spacing);
}

#class-list .main-container {
    margin: 0;
}

/* iPad, Landscape Mode, and HD Monitors */
@media only screen and (min-width: 992px) {


    .filter {
        width: 100%;
        height: auto;
        display: grid;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .filter > input {
        width: 100%;
        border: none;
        padding: var(--spacing);
        font-size: 1rem;
        font-family: Montserrat;
        font-weight: bold;
        font-style: italic;

    }

    .filter > ::-webkit-input-placeholder {
        color: black;
        opacity: 1;
    }

    .filter > ::-moz-placeholder {
        color: black;
        opacity: 1;
    }

    .filter > :-ms-input-placeholder {
        color: black;
        opacity: 1;
    }

    .filter > ::-ms-input-placeholder {
        color: black;
        opacity: 1;
    }

    .filter > ::placeholder {
        color: black;
        opacity: 1;
    }
    
    .filter > input:focus {
        outline: none;
        color: black;
    }

    .class {
        flex-grow: 1;
        padding-top: 2.5rem;
        padding-left: 2.5rem;
        overflow-y: auto;
    }

    .class__student > picture, .class__student > picture > img {
        width: 150px;
        height: 150px;
    }
    

    .main-container {
        margin: var(--spacing);
    }

    .class__student__info {
        align-items: left;
        justify-content: center;
        margin-left: 2rem;
    }

    .class__student__info__name {
        padding-right: 0;
    }
    
    .class__student__info__tag {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 992px) {
    .class {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* QHD Monitors */
@media only screen and (min-width: 2560px) {
 
}
























