/****** Introduction ******/

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.headline {
    font-family: 'Gopher-Bold';
    font-size: 1rem;
    flex-grow: 0;
    display: grid;
    place-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.quicklink {
    display: grid;
    place-items: center;
    flex-grow: 1;
}

.quicklink > a {
    color: var(--blue);
    font-size: 1.5rem;
}

a {
    font-family: 'Gopher-Bold';
}

li > a {
    text-decoration: none;
    color: black;
}

/************ Breakpoints ************/

/* iPad and HD Monitors */
@media only screen and (min-width: 992px) {

    /* Homepage */

    .spacer {
        display: none;
    }

    .headline {
        font-size: 4rem;
    }
    

    body {
        display: grid;
        grid-template: 100px 1fr / 300px 1fr;
        grid-template-areas: "header header"
                             "nav main";
    }
    
    header {
        display: flex;
        grid-area: header;
    }

    nav {
        grid-area: nav;
        grid-column: 1 / 2;
        width: 300px;
    }

    nav > ul {
        flex-direction: column;
        height: 100%;
        border-bottom: 0;
        justify-content: start;
        padding-top: 3rem;
    }

    nav > ul > li {
        font-size: 2rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    nav > ul > li:first-child {
        margin-top: 0;
    }

    .headline {
        align-items: start;
        padding-top: 2rem;
        font-size: 2rem;
    }

    main {
        grid-area: main;
        grid-row: 2/3;
        grid-column: 2 / 3;
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
    }

    .box {
        display: block;
    }

    .header-top {
        height: 100px;
    }

    #title {
        width: 300px;
        flex: 0 1 300px;
        font-size: 2rem;
    }
}

/* QHD Monitors */
@media only screen and (min-width: 2560px) {

}




























