main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.headline p {
    padding: var(--spacing);
    font-size: clamp(1.2rem, 0.6145rem + 2.4979vw, 2.488rem);
    font-family: 'Gopher-Bold';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: white;
    
}

.major-link {
    flex-grow: 1;
    padding: var(--spacing);
    display: flex;
    justify-content: center;
    align-items: center;
}

.major-link > a {
    color: var(--primary);
    font-size: clamp(2.488rem, 1.9903rem + 2.1236vw, 3.583rem);
    text-transform: uppercase;
    
}

.footer__contribution {
    padding: var(--spacing);
    font-size: 0.833rem;
    color: var(--red);
    font-family: 'Gopher-Bold';
}

.footer__classlist {
    padding: var(--spacing);
    font-size: 0.694rem;
}

@media only screen and (min-width: 768px) {

    main {
        grid-area: main;
        display: flex;
        flex-direction: column;
    }

    footer {
        grid-area: footer;
    }

}

@media only screen and (min-width: 1200px) {
    main {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
    }

    .box {
        display: block;
    }

    .box--colored {
        background-color: var(--secondary);
    }
}

@media only screen and (min-width: 1600px) {

    main {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
    }
    
    .headline p {
        font-size: var(--t4u);
    }

    .quicklink > a {
        font-size: var(--t7u);
    }
}





























