/**************** Introduction ****************/

.spacer {
    height: 50px;
    flex-shrink: 0;
}

.spacer--grow {
    flex-grow: 1;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.headline p {
    padding: var(--spacing);
    font-size: var(--t0);
    font-family: 'Gopher-Bold';
    display: flex;
    justify-content: center;
    align-items: center;
}

.quicklink {
    flex-grow: 1;
    padding: var(--spacing);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quicklink > a {
    color: var(--blue);
    font-size: var(--t2u);
    text-transform: uppercase;
    
}

/**************** Breakpoints ****************/

@media only screen and (min-width: 375px) {

    /* Homepage */

    .spacer {
        display: none;
    }

    .headline p {
        font-size: var(--t1u);
    }

    main {
        grid-area: main;
        display: flex;
        flex-direction: column;
    }

    .quicklink > a {
        font-size: var(--t3u);
    }
}

@media only screen and (min-width: 768px) {

    /**************** Layout ****************/
    .spacer {
        display: none;
    }

    main {
        grid-area: main;
        display: flex;
        flex-direction: column;
    }

    /**************** Type ****************/

    .headline p {
        font-size: var(--t3u);
    }

    .quicklink > a {
        font-size: var(--t6u);
    }
}

@media only screen and (min-width: 1200px) {
    main {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
    }

    .box {
        display: block;
    }
}

@media only screen and (min-width: 1600px) {

    main {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
    }
    
    .headline p {
        font-size: var(--t4u);
    }

    .quicklink > a {
        font-size: var(--t7u);
    }
}





























