.main__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.main__wrapper__info {
    padding: var(--spacing);
}

.profile {
    display: flex;
    flex: 1 0 150px;
}

.profile__name {
    align-self: center;
}

.profile > picture, .profile > picture > img {
    width: 100px;
    height: 100px;
}

.profile > picture:nth-child(2) {
    position: absolute;
    -webkit-animation: fadeInAndOut 5s step-start infinite;
            animation: fadeInAndOut 5s step-start infinite;
}

@-webkit-keyframes fadeInAndOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInAndOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.profile__name {
    margin-left: var(--spacing);
    font-family: 'Gopher-Bold';
    margin-bottom: 0;
}

.profile__name--yellow, {
    color: var(--yellow);
}

.project {
    flex-shrink: 1;
}

.project__title {
    font-family: 'Gopher-Bold';
    margin-top: var(--spacing);
    margin-bottom: 0.233rem;
}

.project__tag {
    font-size: 0.694rem;
    margin-bottom: var(--spacing);
}

.project-images {
    padding: var(--spacing);
}

.project-images > picture, .project-images > picture > img {
    width: 100%;
    height: auto;
    padding-bottom: var(--spacing)
}

.project-images > picture:last-child, .project-images > picture > img:last-child {
    padding-bottom: 0;
}


/* iPad, Landscape Mode, and HD Monitors */
@media only screen and (min-width: 992px) {
    main {
        flex-direction: row;
    }

    .main__wrapper {
        flex-direction: row;
    }

    .main__wrapper__info {
        width: 40%;
    }

    .profile__name {
        font-size: 2rem;
    }

    .project__title {
        font-size: 1.5rem;
        padding-right: 10rem;
    }

    .project__tag {
        font-size: 0.8rem;
    }

    .project__bio {
        font-size: 1rem;
        padding-right: 10rem;
    }

    .project-images {
        height: 100%;
    }
    
    .main__wrapper__info {
        border-right: 5px solid black;
    }

    .project {
        border: none;
    }
    
    .project-images {
        width: 60%;
    }

    .project-images > picture, .project-images > picture > img {
        width: 100%;
        height: auto
    }

    .project-images > picture:last-child > img {
        margin-bottom: 2.5rem;
    }
}