/************ Projects ************/

main {
    margin: 0;
    padding: 0;
}

.main-container {
    padding: var(--spacing);
}

.project {
    margin-bottom: var(--spacing);
}

.project:last-child {
    margin-bottom: 0;
}

a.project {
    display: block;
}

.project-img {
    height: 170px;
}

.project-img img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.project-info {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
}

.project-title {
    font-family: 'Gopher-Bold';
    font-size: var(--t1d);
    margin-bottom: var(--t0);
}

.project-tag {
    font-size: var(--t2d);
}

.project-student {
    font-size: var(--t2d);
    margin-top: 0.25rem;
    font-weight: bold;
    text-transform: uppercase;
}

/************ Breakpoints ************/

@media only screen and (min-width: 768px) {

    .project-img {
        height: 240px;
    }

    .project-title {
        font-size: var(--t0);
    }

    .project-tag, .project-student {
        font-size: var(--t1d);
    }
}

@media only screen and (min-width: 1024px) {
  
}

@media only screen and (min-width: 1200px) {
    .main-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: var(--spacing);
    }

    .project {
        margin-bottom: 0; /* Handled by grid-gap. */
    }

    .project-img {
        height: 368px;
    }

}






















