.dissertation-title {
    width: 60%;
    font-family: 'Gopher-Bold';
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

.dissertation-field {
    font-size: 0.6rem;
    color: var(--secondary);
}

.dissertation-bio {
    width: 90%;
    height: 20%;
    font-size: 0.8rem;
    margin-top: 1rem;
}

.main__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.profile {
    position: relative;
    display: flex;
    margin: 2.5rem;
    flex: 0 0 150px;
}

.profile__name {
    align-self: center;
}

.profile > picture, .profile > picture > img {
    width: 150px;
    height: 150px;
}

.profile > picture:nth-child(2) {
    position: absolute;
    -webkit-animation: fadeInAndOut 5s step-start infinite;
            animation: fadeInAndOut 5s step-start infinite;
}

@-webkit-keyframes fadeInAndOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInAndOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.profile__name {
    margin-left: 1rem;
    font-family: 'Gopher-Bold';
    font-weight: bold;
    font-size: 1.5rem;
}

.project {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    flex-shrink: 1;
    padding-bottom: 2.5rem;
    border-bottom: 2px solid black;
}

.project__title {
    font-family: 'Gopher-Bold';
    font-weight: bold;
    padding-right: 2rem;
    font-size: 1.1rem;
    margin-bottom: 0.25rem;
}

.project__tag {
    font-size: 0.675rem;
    margin-bottom: 1rem;
}

.project__bio {
    padding-right: 1.5rem;
    font-size: 0.8rem;
}

.project-images {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
}

.project-images > picture, .project-images > picture > img {
    width: 100%;
    height: auto;
}

/* iPad, Landscape Mode, and HD Monitors */
@media only screen and (min-width: 992px) {
    main {
        flex-direction: row;
    }

    .main__wrapper {
        flex-direction: row;
    }

    .main__wrapper__info {
        width: 40%;
    }

    .profile__name {
        font-size: 2rem;
    }

    .project__title {
        font-size: 1.5rem;
        padding-right: 10rem;
    }

    .project__tag {
        font-size: 0.8rem;
    }

    .project__bio {
        font-size: 1rem;
        padding-right: 10rem;
    }

    .project-images {
        height: 100%;
        flex-direction: column;
    }
    
    .main__wrapper__info {
        border-right: 5px solid black;
    }

    .project {
        border: none;
    }
    
    .project-images {
        padding-left: 0;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        overflow-x: unset;
        overflow-y: scroll;
    }

    .project-images > picture, .project-images > picture > img {
        width: 400px;
        height: 400px;
    }

    .project-images > picture:last-child > img {
        margin-bottom: 2.5rem;
    }
}