/************ Projects ************/

main {
    margin: 0;
    padding: 0;
}

.main-container {
    margin: var(spacing);
}

.project {
    margin-bottom: var(spacing);
}

a.project {
    display: block;
}

.project-img {
    height: 120px;
}

.project-img img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.project-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.project-title {
    font-family: 'Gopher-Bold';
    font-size: 0.875em;
    margin-bottom: 0.5rem;
}

.project-tag {
    margin-top: 0.5rem;
    font-size: 0.65rem;
}

.project-student {
    font-size: 0.75rem;
    margin-top: 0.25rem;
    font-weight: bold;
    text-transform: uppercase;
}


.content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

/************ Breakpoints ************/

/* iPad and HD Monitors */
@media only screen and (min-width: 992px) {

    /* Update Projects Page to Display 2 Projects per Row */

    .main-container {
        margin: var(--spacing);
    }    

    .project-img {
        height: 300px;
    }
    
    .spacer {
        display: none;
    }

    .main-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--spacing);
    }

    .project {
        margin-bottom: 0;
    }

    .project {
        padding: 0;
    }

    .project-title {
        font-size: 0.8rem;
    }

    .project-tag {
        margin-top: 2rem;
        font-size: 0.8rem;
    }

    .project-student {
        margin-top: 0.5rem;
        font-size: 0.8rem;
    }

    .project-img {
        height: 230px;
    }
}

@media only screen and (min-width: 1200px) {
    .main-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .project-title {
        font-size: 1.2rem;
    }
}

/* QHD Monitors */
@media only screen and (min-width: 2560px) {
    main {
        grid-template-columns: repeat(6, 1fr);
    }
}
























